{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% include "includes/sidebar.html" %}

    
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <div class="row">
        <div style="background-color: #f2f2f2;" class="col rounded-3 mt-3 ms-3 p-3 border-end">
          Grafic
        </div>
      </div>

      <div class="row">
        <div style="background-color: #f2f2f2;" class="col rounded-3 my-3 ms-3 p-3 border-end">
          Table with incomes and expenses by categories in this year grouped by months
        </div>
      </div>

      <div class="row">
        <div style="background-color: #f2f2f2;" class="col rounded-3 mb-3 ms-3 p-3 border-end">
          <div class="table-responsive">
            {% include "includes/categories_table.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}