{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    {% include "includes/sidebar.html" %}

    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      {% if "/edit/" in request.path or "/delete/" in request.path%}
        <div class="row justify-content-md-center">
          <div style="background-color: #f2f2f2; margin-top: 10vh !important;" class="col-lg-3 rounded-3 my-3 ms-3 p-3 border-end">
            {% include "includes/money_category_form.html" %}
          </div>
        </div>
      {% else %}
        <div class="row">
          <div style="background-color: #f2f2f2;" class="col rounded-3 my-3 ms-3 p-3 border-end">
            <h2 class="text-success">Grafics of incomes and expenses in current year</h2>
            <img src="/media/{{username}}_incomes_expenses.png"/>
          </div>
        </div>

        <div class="row mb-3">
          <div style="background-color: #f2f2f2;" class="col bg-green ms-3 p-3 rounded-3 border-end">
            <div class="table-responsive">
              <h2 class="text-success">Incomes and expenses</h2>
              {% include "includes/incomes_expences_table.html" %}
            </div>
          </div>
          <div style="background-color: #f2f2f2;" class="col mx-3 p-3 rounded-3 border-end">
            <h2 class="text-success">Categories</h2>
            {% include "includes/categories_table.html" %}
          </div>
          <!-- <div style="background-color: #f2f2f2;" class="col p-3 rounded-3 border-end">
            <h2 class="text-success">Grafics of incomes and expenses in current month</h2>
            <div>
              <img src="/media/{{username}}_income_categories.png"/>
            </div>
            <div>
              <img src="/media/{{username}}_expense_categories.png"/>
              
            </div>
          </div> -->
          <!-- <div id="container" class="chart_wrap"></div> -->
        </div>
      {% endif %}


      <!-- </div> -->
      <!-- <div style="background-color: bisque; border-radius: 40px;" class="mb-3 p-3">
      </div> -->
      
      <!-- <div class="row"> -->
        <!-- <div style="background-color: bisque; border-radius: 40px;" class="col ms-3 p-3">
        </div> -->
      <!-- </div> -->

    </div>

  </div>

</div>



<script>
  Highcharts.chart('container', {
    title: {
        text: 'Solar Employment Growth by Sector, 2010-2016'
    },
    subtitle: {
        text: 'Source: thesolarfoundation.com'
    },
    yAxis: {
        title: {
            text: 'Number of Employees'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },
    plotOptions: {
        series: {
            pointStart: 2010
        }
    },
    series: [{
          name: 'Installation',
          data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
      }, {
          name: 'Manufacturing',
          data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
      }, {
          name: 'Sales & Distribution',
          data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
      }, {
          name: 'Project Development',
          data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
      }, {
          name: 'Other',
          data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
      }]
    });

  function resetElement1() {
    var x = document.getElementById("box1");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
  }
  function resetElement2() {
    var x = document.getElementById("box2");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
  }
  function resetElement3() {
    var x = document.getElementById("box3");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
  }
  function resetElement4() {
    var x = document.getElementById("box4");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
  }
</script>
{% endblock %}