{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">

    <div style="background-color: #f2f2f2;" class="col rounded-3 my-3 mx-3 p-3 border-end text-center">
      <div class="p-3">
        <h1>SIMBU - Simple Budget</h1>
        <p class="lead">This service was created so that you can comfortably plan your income and expenses and always know how much you can spend and how much you need to earn for a comfortable life.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-primary">Learn more</a>
        </p>
      </div>
    </div>
    
  </div>
  <div class="row">

    <div style="background-color: #CEE741;" class="col rounded-3 my-3 mx-3 p-3 border-end">
      <div class="p-3">
        <h2>Record income and expenses in any currency</h2>
        <p class="lead">The service uses the API of the service polygon.io to get the current exchange rates. The course is updated every day.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </div>
    </div>
    <div style="background-color: #CEE741;" class="col rounded-3 my-3 mx-3 p-3 border-end">
      <div class="p-3">
        <h2>You can choose any major currency.</h2>
        <p class="lead">This is convenient when you have expenses and income in different currencies. So all the movements of your funds can be easily folded, divided and shown a convenient report in the form of graphs and tables.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </div>
    </div>
    <div style="background-color: #CEE741;" class="col rounded-3 my-3 mx-3 p-3 border-end">
      <div class="p-3">
        <h2>You can set spending limits and the amount of planned expenses for each category.</h2>
        <p class="lead">You will see how much more you can spend this month, for example, on groceries. You will see how much you have exceeded the limit. This will make it easier for you to understand when and how much you can spend and easily plan income and expenses.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </div>
    </div>
    
  </div>
</div>

{% endblock %}