<div style="margin: 0px 0px 10px 0px;">
  <div>
    <div>
      <p style="width: 45%;" class="label">Main currency {{ main_currency }}</p>
      <form style="display: inline;" action="{% url 'webbudget:currency' %}">
        <button style="width: 50%;" class="button" >Edit main currency</button>
      </form>
    </div>
    <div>
      <form style="display: inline;" action="{% url 'webbudget:category' %}">
        <button style="width: 100%;" class="button" >Create categories</button>
      </form>
    </div>
  </div>
</div>

<div style="margin: 20px 0px 10px 0px;">
  <table>
    <tr class="table-header">
      <th colspan="4">Categories of Incomes</th>
    </tr>
    <tr class="table-title">
      <th class="left-border-radius-10">Name</th>
      <th>Plan</th>
      <th>Fact</th>
      <th class="right-border-radius-10">Diff</th>
    </tr>
    {% for category in categories %}
      <tr class="table-raw">
        <th class="left-border-radius-10">{{ category.category }}</th>
        <th>{{ category.limit }}</th>
        <th>{{ category.sum_values }}</th>
        <th class="right-border-radius-10">{{ category.difference }}</th>
        <th class="no-hover">
          <form style="display: inline;" action="{% url 'webbudget:category_edit' category.id %}">
            <button class="button-table" >edit</button>
          </form>
          <form style="display: inline;" action="{% url 'webbudget:category_delete' category.id %}">
            <button class="button-table" style="background-color: #e75441;">delete</button>
          </form>
        </th>
      </tr>
    {% endfor %}
  </table>
</div>

<div style="margin: 20px 0px 20px 0px;">
  <table>
    <tr class="table-header">
      <th colspan="4">Categories of Expenses</th>
    </tr>
    <tr class="table-title">
      <th class="left-border-radius-10">Name</th>
      <th>Plan</th>
      <th>Fact</th>
      <th class="right-border-radius-10">Diff</th>
    </tr>
    {% for category in expence_categories %}
      <tr class="table-raw">
        <th class="left-border-radius-10">{{ category.category }}</th>
        <th>{{ category.limit }}</th>
        <th>{{ category.sum_values }}</th>
        <th class="right-border-radius-10">{{ category.difference }}</th>
        <th class="no-hover">
          <form style="display: inline;" action="{% url 'webbudget:category_edit' category.id %}">
            <button class="button-table" >edit</button>
          </form>
          <form style="display: inline;" action="{% url 'webbudget:category_delete' category.id %}">
            <button class="button-table" style="background-color: #e75441;">delete</button>
          </form>
        </th>
      </tr>
    {% endfor %}
      <tr class="tabel-total">
        <th class="left-border-radius-10">Sum of Incomes</th>
        <th colspan="1">{{ diff_incomes_expenses_values }}</th>
        <th>{{ all_incomes_with_sum.sum_incomes_values }}</th>
        <th class="right-border-radius-10">{{ diff_incomes_expenses_values }}</th>
      </tr>
      <tr class="tabel-total">
        <th class="left-border-radius-10">Sum Expenses</th>
        <th colspan="1">{{ diff_incomes_expenses_values }}</th>
        <th>{{ all_incomes_with_sum.sum_expenses_values }}</th>
        <th class="right-border-radius-10">{{ diff_incomes_expenses_values }}</th>
      </tr>
      <tr class="tabel-total">
        <th class="left-border-radius-10">Total</th>
        <th colspan="1">{{ diff_incomes_expenses_values }}</th>
        <th>{{ diff_incomes_expenses_values }}</th>
        <th class="right-border-radius-10">{{ diff_incomes_expenses_values }}</th>
      </tr>
  </table>
</div>