{% with request.resolver_match.view_name as view_name %}
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item p-1">
    <!-- <a href="{% url 'webbudget:currency' %}" class="nav-link {% if view_name == 'webbudget:currency' %} active {% else %} link-dark {% endif %}" aria-current="page">
      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
      Edit main currency ({{ main_currency }})
    </a> -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Edit main currency ({{ main_currency }})
    </button>
  </li>
  <li class="nav-item p-1">
    <a href="{% url 'webbudget:dashboard' %}" class="nav-link {% if view_name == 'webbudget:dashboard' %} active {% else %} link-dark {% endif %}">
      <!-- <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg> -->
      Dashboard
    </a>
  </li>
  <li class="nav-item p-1">
    <a href="{% url 'webbudget:category' %}" class="nav-link {% if view_name == 'webbudget:category' %} active {% else %} link-dark {% endif %}" aria-current="page">
      <!-- <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg> -->
      Edit categories
    </a>
  </li>
  <li class="nav-item p-1">
    <a href="{% url 'currency:currencies_rates' %}" class="nav-link {% if view_name == 'currency:currencies_rates' %} active {% else %} link-dark {% endif %}" aria-current="page">
      <!-- <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg> -->
      Currencies rates
    </a>
  </li>
  <!-- <li class="nav-item p-1">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
      Add income or expense
    </button>
  </li> -->
  <!-- <li class="nav-item">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Incomes and expenses table</label>
    </div>
  </li>
  <li>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Grafics by categories</label>
    </div>
  </li>
  <li class="nav-item">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Categories table</label>
    </div>
  </li> -->
</ul>
{% endwith %}