<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'bootstrap/main.css' %}" rel="stylesheet">

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'bootstrap/cover.css' %}" rel="stylesheet"> -->
    <link href="{% static 'bootstrap/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/footers.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/headers.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'bootstrap/signin.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'bootstrap/sidebars.css' %}" rel="stylesheet"> -->

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/dashboard.js' %}"></script>
  
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/robert-sans" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
  
  </head>
  <body>
    {% if request.path == "/" %}
      {% include "includes/header.html" %}
    {% endif %}
    <main style="width: 100%;">
      {% block content %}Контента пока нет :({% endblock %}
      {% include "includes/modal_set_currency_form.html" %}
    </main>
    {% if request.path == "/" %}
      {% include "includes/footer.html" %}
    {% endif %}
  </body>
</html>