{% extends "base.html" %}

{% block content %}

<!-- Этот блок мы уберём, в нашей форме ошибки выводятся внутри формы. -->
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="auth-form">
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {% for field in form.visible_fields %}
    <div>
      {{ field.errors }}
      <div style="font-family: 'Fredoka One', sans-serif;
      font-size: 18px;
      color:#CEE741;">{{ field.label_tag }}</div>
      <li>{{ field }}</li>
      {% if field.help_text %}
      <p class="help" id="{{ field.auto_id }}_helptext">
          {{ field.help_text|safe }}
      </p>
      {% endif %}
    </div>
  {% endfor %}

  <input class="filter-button" type="submit" value="login">
  <!-- Этот тег надо будет перенести в нашу форму. -->
  <input type="hidden" name="next" value="{{ next }}">
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>

{% endblock %}